<template>
  <header class="header">
    <h2>លេខមួយ.com</h2>
  </header>
  <router-view></router-view>
</template>

<style>
#app {
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
}
</style>
